
<div class="img-container">
  <div class="inner-container">
    <%= image_tag 'banner-logo', class: "image-banner"%>
    <h1>Mister Cocktail</h1>
    <p>Le site référence de recettes de cocktails</p>
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "bouton"%>
  </div>
</div>


<div class="conteneur">
  <h1>Toutes les recettes</h1>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="property-card">
        <a href="/cocktails/<%= cocktail.id %>">
          <div class="property-image" style="background-image: url(<%= cl_image_path cocktail.photo.key %>)">
            <div class="property-image-title">
              <h5><%= cocktail.name %></h5>
            </div>
          </div>
        </a>
        <div class="property-description">
          <h5><%= cocktail.name %></h5>
          <p>Lorem Ipsum Dipsum hortata</p>
        </div>
        <a href="#">
          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
