<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="nav">
      <a href="/"><img width="200" height="100" src="/assets/logo-972bd049ac6b3d500fcddd98e253c3ee65596a970d614172523c7fb71d1eb1cf.gif"></a>
      <a class="bouton" href="/cocktails/new">Add a new cocktail</a>
    </nav>
    <%= yield %>
  </body>
</html>
